<section class="project_container">
	<header class="section_header">Projects</header>
	<div class="project_sub_container">
		<!-- for each project -->
		<div class="project_card">
			<!-- isPersonal -->
			<span class="project_card_sub_title project_card_sub_team">팀 프로젝트</span>
			<div class="project_card_title project_card_title_style">Customize Your Travel</div>
			<div class="project_card_period">
				<span class="project_card_label">진행기간</span> 17.07 ~ 17.08
				</div>
			<div class="project_card_techs">
				<span class="project_card_label">기술스펙</span>
				<!-- for each tag -->
				<span class="tech_tag">VanillaJS</span>
				<span class="tech_tag">Firebase</span>
				<span class="tech_tag">HTML5/CSS3</span>
			</div>
			<div class="project_card_description">
				Component project to navigation which published to npm.
			</div>
		</div>
		<div class="project_links">
			<span class="project_link"><i class="fa fa-github-alt" aria-hidden="true"></i>Github</span>
		</div>

		<div class="project_card">
			<!-- isPersonal -->
			<span class="project_card_sub_title project_card_sub_team">팀 프로젝트</span>
			<div class="project_card_title project_card_title_style">Customize Your Travel</div>
			<div class="project_card_period">
				<span class="project_card_label">진행기간</span> 17.07 ~ 17.08
				</div>
			<div class="project_card_techs">
				<span class="project_card_label">기술스펙</span>
				<!-- for each tag -->
				<span class="tech_tag">VanillaJS</span>
				<span class="tech_tag">Firebase</span>
				<span class="tech_tag">HTML5/CSS3</span>
			</div>
			<div class="project_card_description">
				Component project to navigation which published to npm.
			</div>
		</div>
		<div class="project_links">
			<span class="project_link"><i class="fa fa-github-alt" aria-hidden="true"></i>Github</span>
		</div>
	</div>
</section>
