<section class="profile_container">
	<div class="profile_image">
		<img src="../../../data/image/profile/avata.jpg" alt="" class="profile_img">
	</div>
	<div class="profile_info">
		<div class="profile_name">Hong Gil Dong</div>
		<div class="profile_job">JavaScript Developer</div>
		<div class="profile_email">dev.gildong@gmail.com</div>
	</div>
	<div class="profile_one_line_intro">I'm javascript developer who loves VanillaJS</div>
	<div class="profile_links">
		<div class="profile_facebook_link"></div>
		<div class="profile_linkedlin_link"></div>
		<div class="profile_blog link"></div>
	</div>
</section>
