.totopbtn_container {
  margin: 0px auto 20px auto;
  text-align: center;
}

.totopbtn {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 50%;
  border: 1px solid gray;
}

.totopbtn .fa {
  color: gray;
}