@import "../variables";

.activity_container {
  margin: 30px auto 120px auto;
  width: $card-width;
}

.activity_logo {
  background-position: center;
  background-size: cover;
}

.activity_logo_style {
  border-radius: 24px;
}

.activity_card_style {
  margin-bottom: 6px;
  color: $content-text-color;
}

.activity_card_title {
  font-size: 18px;
  font-weight: bolder;
}

.activity_card_period {
  font-size: 14px;

  .fa {
    margin-right: 4px;
  }
}

.activity_card_description {
  font-weight: lighter;
}