@import "../variables";

.blog_container {
  margin: 30px auto 60px auto;
  width: $card-width;
}

.blog_logo_style {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.blog_card_title {
  margin: 6px 0px;
  font-size: 18px;
  color: $content-text-color;
  font-weight: bolder;
}

.blog_card_link {
  margin-bottom: 8px;
  color: $color-link-text;

  a {
    text-decoration: none;
    color: $color-link-text;

    &:visited {
      text-decoration: none;
      color: $color-link-text;
    }
  }
}

.blog_card_description {
  margin-bottom: 16px;
  font-weight: lighter;
  font-size: 14px;
}
