@import "../variables";

.education_card {
  margin-bottom: 40px;
}

.education_logo_style {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.education_name {
  font-size: 24px;
  font-weight: bold;
}

.education_info {
  color: $content-text-color;
  margin-bottom: 4px;

  .fa {
    margin-right: 6px;
  }
}

.education_period .fa {
  margin-right: 10px;
  margin-left: 2px;
}

.education_status .fa {
  margin-right: 8px;
  margin-left: 2px;
}