@import "../variables";

.project_card {
  width: 100%;
  height: 100%;
}

.project_card_title {
  margin-bottom: 10px;
  font-weight: bolder;
  color: $content-text-color;
}

.project_card_sub_title {
  color: $color-white;
}

.project_card_sub_team {
  background-color: $color-team-project;
}

.project_card_sub_personal {
  background-color: $color-personal-project;
}

.project_card_label {
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 3px;
  padding: 3px 6px;
  background-color: $color-dark-gray;
  font-weight: bolder;
  font-size: 13px;
  color: $content-text-color;
}

.project_card_period {
  color: $content-text-color;
}

.project_card_techs {
  height: 100%;
}

.tech_tag {
  margin-right: 2px;
  padding: 3px;
  border-radius: 1px;
  background-color: $color-gray;
  font-size: 13px;
  font-weight: lighter;
}

.project_card_description {
  margin-top: 6px;
  font-weight: lighter;
  font-size: 13px;
  color: $content-text-color;
}

.project_links {
  margin: 12px 0px 48px 0px;
  text-align: center;

  .fa {
    padding-right: 4px;
  }
}

.project_link {
  border-radius: 8px;
  border: 1px solid $content-text-color;
  color: $content-text-color;
}

.project_links a {
  text-decoration: none;
}