@import "../variables";

.profile_image_style {
  border-radius: 50%;
  border: 6px solid  $color-gray;
  background-position: center;
  background-size: cover;
}

.profile_info {
  color: $content-text-color;
  margin-bottom: 4px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;

  .fa {
    margin-right: 4px;
  }
}

.profile_isworked {
  display: inline-block;
  padding: 5px 12px 3px 12px;
  border-radius: 4px;
  font-weight: bold;
  color: $color-white;
}

.profile_on_the_job {
  background-color: $color-onthejob-state;
}

.profile_working {
  background-color: $color-working-state;
}

.profile_link {
  width: calc(100% / 3);
  float: left;
  text-align: center;

  .fa {
    border: 1px solid $color-dark-gray;
    border-radius: 50%;
    font-size: 36px;
    color: $color-dark-gray;
  }

  .fa-facebook {
    padding: 8px 16px
  }

  .fa-linkedin {
    padding: 8px 12px
  }

  .fa-github {
    padding: 0px 2px;
    font-size: 56px;
    border: none;
  }
}

.profile_update_date {
  text-align: center;
}

.profile_last_update_style {
  font-size: 12px;
  color: $color-dark-gray;
  font-style: italic;
}

.profile_bar {
  display: block;
  width: 80px;
  height: 4px;
  margin: 12px auto;
  background-color: $content-text-color;
  color: $content-text-color;
  opacity: .7;
}

.profile_one_line_intro_style {
  text-align: center;
  color: $content-text-color;
  font-weight: lighter;
}

.profile_one_line_intro {
  width: 100%;
  margin-bottom: 12px;
}

.profile_interests_container {
  text-align: center;
  margin-bottom: 100px;
}

.profile_interest {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  background-color: $hashtag-background-color;
  opacity: .7;
  transition: all 0.3s;
}

.profile_interest_text {
  font-size: 12px;
  color: $color-white;
}