/*
 * profile common style
 */
.profile_image_style {
  border-radius: 50%;
  border: 6px solid  #E9EBEE;
  background-position: center;
  background-size: cover;
}

.profile_info {
  color: #3D3D3D;
  margin-bottom: 4px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.profile_info .fa {
  margin-right: 4px;
}

.profile_isworked {
  display: inline-block;
  padding: 5px 12px 3px 12px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}

.profile_on_the_job {
  background-color: #2DA249;
}

.profile_working {
  background-color: #F15F5F;
}

.profile_link {
  width: calc(100% / 3);
  float: left;
  text-align: center;
}

.profile_link .fa {
  border: 1px solid #BABABA;
  border-radius: 50%;
  font-size: 36px;
  color: #BABABA;
}

.profile_link .fa-facebook {
  padding: 8px 16px
}

.profile_link .fa-linkedin {
  padding: 8px 12px
}

.profile_link .fa-github {
  padding: 0px 2px;
  font-size: 56px;
  border: none;
}

.profile_bar {
  display: block;
  width: 80px;
  height: 4px;
  margin: 12px auto;
  background-color: #3D3D3D;
  color: #3D3D3D;
  opacity: .7;
}

.profile_one_line_intro_style {
  text-align: center;
  color: #3D3D3D;
  font-weight: lighter;
}

/*
 * work common style
 */
.work_logo {
  background-position: center;
  background-size: cover;
}

.work_info_name_common {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  color: #3D3D3D;
}

.work_info_period_common {
  font-size: 16px;
}

.work_info_period_common .fa {
  margin-right: 6px;
}

.work_info_position .fa {
  margin-right: 4px;
}

.work_info_position_common {
  color: #3D3D3D;
}

.work_info_description_common {
  font-size: 16px;
  font-weight: lighter;
  color: gray;
}

/*
 * Blog common style
 */
.blog_container {
  margin: 30px auto 60px auto;
  width: calc(100% - 44px);
}

.blog_card_title {
  margin: 6px 0px;
  font-size: 18px;
  color: #3D3D3D;
  font-weight: bolder;
}

.blog_card_link {
  margin-bottom: 8px;
  color: #0068c3;
}

.blog_card_link a {
  text-decoration: none;
  color: #0068c3;
}

.blog_card_link a:visited {
  text-decoration: none;
  color: #0068c3;
}

.blog_card_description {
  margin-bottom: 16px;
  font-weight: lighter;
  font-size: 14px;
}


/*
 * projects common style
 */
 .project_card {
  width: 100%;
  height: 100%;
}

.project_card_title {
  margin-bottom: 10px;
  font-weight: bolder;
  color: #3D3D3D;
}

.project_card_sub_title {
  color: #fff;
}

.project_card_sub_team {
  background-color: #FEA23F;
}

.project_card_sub_personal {
  background-color: #7085D1;
}

.project_card_label {
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 3px;
  padding: 3px 6px;
  background-color: #E9EBEE;
  font-weight: bolder;
  color: #3D3D3D;
}

.project_card_period {
  font-weight: light;
  color: #3D3D3D;
}

.project_card_techs {
  height: 100%;
}

.tech_tag {
  margin-right: 2px;
  padding: 3px;
  border-radius: 1px;
  background-color: #FFF8E7;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 90%;
}

.project_card_description {
  margin-top: 6px;
  font-weight: light;
  color: #3D3D3D;
}

.project_links {
  margin: 12px 0px 48px 0px;
  text-align: center;
}

.project_links .fa {
  padding-right: 4px;
}

.project_link {
  border-radius: 8px;
  border: 1px solid #3D3D3D;
  color: #3D3D3D;
}

.project_links a {
  text-decoration: none;
}


/*
 * education common style
 */
 .education_card {
  margin-bottom: 40px;
}

.education_logo_style {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.education_name {
  font-size: 24px;
  font-weight: bold;
}

.education_info {
  color: #3D3D3D;
  margin-bottom: 4px;
}

.education_info .fa {
  margin-right: 6px;
}

.education_period .fa {
  margin-right: 10px;
  margin-left: 2px;
}

.education_status .fa {
  margin-right: 8px;
  margin-left: 2px;
}

/*
 * activity section common style
 */
.activity_container {
  margin: 30px auto 120px auto;
  width: calc(100% - 44px);
}

.activity_logo {
  background-position: center;
  background-size: cover;
}

.activity_logo_style {
  border-radius: 24px;
}

.activity_card_style {
  margin-bottom: 6px;
  color: #3D3D3D;
}

.activity_card_title {
  font-size: 18px;
  font-weight: bolder;
}

.activity_card_period {
  font-size: 14px;
}

.activity_card_period .fa {
  margin-right: 4px;
}

.activity_card_description {
  font-weight: lighter;
}


/*
 * footer common style
 */
 .footer {
  text-align: center;
}

.footer_message {
  font-weight: lighter;
  font-style: italic;
  font-size: 24px;
  color: gray;
}

.totopbtn_container {
  margin: 20px auto 20px auto;
  text-align: center;
}

.totopbtn {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 50%;
  border: 1px solid gray;
}

.totopbtn .fa {
  color: gray;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 560px)
and (min-width : 320px) {
  .footer_message {
    font-size: 16px;
  }
}
