$content-text-color: #3D3D3D;
$hashtag-background-color: #707070;
$color-dark-gray: #BABABA;
$color-gray: #E9EBEE;
$color-white: #fff;
$color-link-text: #0068c3;

$card-width: calc(100% - 44px);

$color-working-state: #F15F5F;
$color-onthejob-state: #2DA249;
$color-team-project: #FEA23F;
$color-personal-project: #7085D1;
