@media only screen
and (max-width : 560px)
and (min-width : 320px) {
  .activity_logo_style {
    display: block;
    margin: 6px auto 16px auto;
    width: 130px;
    height: 130px;
  }

  .activity_card {
    margin-bottom: 32px;
  }

  .activity_card_title {
    font-size: 19px;
  }
}