@import "../variables";

@media only screen
and (max-width : $media-query-max-width)
and (min-width : $media-query-min-width) {
  .blog_logo {
    margin: 12px auto;
    width: 100%;
    height: 60px;
  }
}