@media only screen
and (max-width : 560px)
and (min-width : 320px) {
  .education_container {
    margin: 30px auto;
    width: calc(100% - 40px);
  }

  .education_sub_container {
    margin-bottom: 72px;
    width: 100%;
    height: 100%;
  }

  .education_logo {
    margin: auto;
    width: 120px;
    height: 120px;
  }

  .education_info {
    font-size: 15px;
  }

  .education_name {
    font-size: 22px;
  }
}