@import "../variables";

@media only screen
and (max-width : $media-query-max-width)
and (min-width : $media-query-min-width) {
  .profile_container {
    margin: $mobile-container-margin;
    width: $mobile-container-width;
  }

  .profile_sub_container {
    width: 100%;
    height: 100%;
  }

  .profile_image {
    width: 200px;
    height: 200px;
    margin: auto auto 16px;
  }

  .profile_working_status {
    text-align: center;
  }

  .profile_isworked {
    font-size: 14px;
  }

  .profile_infos {
    width: 100%;
  }

  .profile_links {
    margin-top: 20px;
    width: 100%;
  }

  .profile_name {
    font-size: 31px;
    font-weight: bolder;
  }
}