@media only screen and (min-width : 561px) {
  .blog_sub_container {
    margin: auto;
    width: calc(100% - 32px);
  }

  .blog_card_title {
    padding-left: 12px;
  }

  .blog_logo {
    float: left;
    margin: 16px;
    margin-left: 0px;
    width: 60px;
    height: 60px;
  }
}