@import "../variables";

@media only screen and (min-width : $media-query-desktop) {
  .education_container {
    margin: $desktop-container-margin;
    width: $desktop-container-width;
  }

  .education_sub_container {
    margin: auto;
    width: $desktop-sub-container-width;
    height: 100%;
  }

  .education_logo {
    float: left;
    margin-right: 24px;
    width: 100px;
    height: 100px;
  }
}