@media only screen and (min-width : 561px) {
  .education_container {
    margin: 60px auto;
    width: calc(100% - 60px);
  }

  .education_sub_container {
    margin: auto;
    width: calc(100% - 20px);
    height: 100%;
  }

  .education_logo {
    float: left;
    margin-right: 24px;
    width: 100px;
    height: 100px;
  }
}