@import "../variables";

@media only screen and (min-width : $media-query-desktop) {
  .profile_container {
    margin: $desktop-container-margin;
    width: $desktop-container-width;
  }

  .profile_sub_container {
    width: $desktop-sub-container-width;
    height: 280px;
  }

  .profile_image {
    float: left;
    width: 260px;
    height: 260px;
    margin-right: 6px;
  }

  .profile_infos {
    float: right;
    margin-top: 60px;
    width: calc(100% - 296px);
  }

  .profile_links {
    float: right;
    margin-top: 20px;
    width: calc(100% - 280px);
  }

  .profile_name {
    font-size: 24px;
    font-weight: bolder;
  }
}