.footer {
  text-align: center;
}

.footer_message {
  font-weight: lighter;
  font-style: italic;
  font-size: 24px;
  color: gray;
}

.totopbtn_container {
  margin: 20px auto 20px auto;
  text-align: center;
}

.totopbtn {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 50%;
  border: 1px solid gray;
}

.totopbtn .fa {
  color: gray;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 560px)
and (min-width : 320px) {
  .footer_message {
    font-size: 16px;
  }
}