<div class="footer">
	<span class="footer_message">Thank you for reading my resume.</span>
</div>
<div class="totopbtn_container">
	<div class="totopbtn" id="totopbtn">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</div>
</div>
