.work_logo {
  background-position: center;
  background-size: cover;
}

.work_info_name_common {
  display: block;
  font-size: 20px;
  font-weight: bolder;
  color: #3D3D3D;
}

.work_info_period_common {
  font-size: 16px;
}

.work_info_period_common .fa {
  margin-right: 6px;
}

.work_info_position .fa {
  margin-right: 4px;
}

.work_info_position_common {
  color: #3D3D3D;
}

.work_info_description_common {
  font-size: 16px;
  font-weight: lighter;
  color: gray;
}