<section class="work_container">
	<header class="section_header">Work Experience</header>
	<div class="work_sub_container">
		<!-- for statement to each work array -->
		<div class="work_info">
			<div class="work_info_img"></div>
			<div class="work_info_container">
				<div class="work_info_item work_info_name work_info_name_common">LINE Coporation</div>
				<div class="work_info_item work_info_period work_info_period_common"><i class="fa fa-calendar-o" aria-hidden="true"></i>17.01 ~ 17.02</div>
				<div class="work_info_item work_info_position work_info_position_common"><i class="fa fa-user-o" aria-hidden="true"></i>
Server Developer (Intern)</div>
				<div class="work_info_item work_info_description work_info_description_common">Develop redis operation chatbot based on LINE Messenger</div>
			</div>
		</div>
		<div class="work_info">
			<div class="work_info_img"></div>
			<div class="work_info_container">
				<div class="work_info_item work_info_name work_info_name_common">LINE Coporation</div>
				<div class="work_info_item work_info_period work_info_period_common"><i class="fa fa-calendar-o" aria-hidden="true"></i>17.01 ~ 17.02</div>
				<div class="work_info_item work_info_position work_info_position_common"><i class="fa fa-user-o" aria-hidden="true"></i>
Server Developer (Intern)</div>
				<div class="work_info_item work_info_description work_info_description_common">Develop redis operation chatbot based on LINE Messenger</div>
			</div>
		</div>
	</div>
</section>
